.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
}

.new-tag {
    position: absolute;
    padding: 4px 24px;
    background: linear-gradient(90deg, #3a6aff 0%, #ab5d9a 100%);
    color: #fff;
    border-radius: 0 0 8px 0;
}
