.square-picture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    cursor: pointer;
}
