.shop {
    margin-left: 24px;

    .payment-card {
        min-width: 180px;
        max-width: calc(25% - 16px);
        padding: 24px;
        margin: 8px;

        .payment-card-text {
            @media (max-width: 430px) {
                display: none;
            }
        }

        @media (max-width: 430px) {
            padding: 16px;
            min-width: 150px;

            img {
                width: 100px;
            }
        }

        @media (max-width: 350px) {
            padding: 16px;
            min-width: 130px;

            img {
                width: 80px;
            }
        }
    }

    .coin-card {
        position: relative;

        .coin-card-tag {
            border-radius: 0 0 8px;
            color: rgb(255, 255, 255);
            text-align: left;
            position: absolute;
            font-weight: 700;

            @media (max-width: 430px) {
                border-radius: 0 0 0 8px;
                right: 0;
            }
        }

        .coin-card-content-root {
            padding-top: 32px;
           

            .coin-card-content-coins {
                .coin-card-content-coins-title {
                    font-weight: 700;
                }
            }

            .coin-card-content-price {
                margin-top: 24px;
                margin-bottom: 24px;
            }

            @media (max-width: 430px) {
                padding: 16px 32px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .coin-card-content-img {
                    order: 1;
                    height: 40px;
                    margin-right: 16px;
                    margin-top: 0;
                }

                .coin-card-content-price {
                    order: 3;
                    align-self: flex-end;
                    margin: 0;
                }

                .coin-card-content-coins {
                    order: 2;
                }
            }
        }

        @media (max-width: 430px) {
            width: 100%;
        }
    }

    @media (max-width: 900px) {
        margin-left: 16px;
    }

    @media (max-width: 430px) {
        margin-left: 8px;
    }
}